## Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.0.1

## Questions 2:
How to create a series from a numpy array?

In [3]:
import numpy as np

array = [i for i in range(2,30,3)]
series = pd.Series(np.array(array))
print(series)

0     2
1     5
2     8
3    11
4    14
5    17
6    20
7    23
8    26
9    29
dtype: int32

## Questions 3:
How to convert the index of a series into a column of a dataframe?

In [4]:
#we can do it using 
data = pd.read_csv('student_records.csv')
data.reset_index(level=0, inplace=True)
data

   index    Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0      0   Henry            A        Y             90            85       Yes
1      1    John            C        N             85            51       Yes
2      2   David            F        N             10            17        No
3      3  Holmes            B        Y             75            71        No
4      4  Marvin            E        N             20            30        No
5      5   Simon            A        Y             92            79       Yes
6      6  Robert            B        Y             60            59        No
7      7   Trent            C        Y             75            33        No

## Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
import seaborn as sns

print("All present datasets")
print(sns.get_dataset_names())

print()
print("The MPG dataset")
mpg = sns.load_dataset('mpg')
print(mpg)

All present datasets

C:\Users\Mansi Mistry\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\Mansi Mistry\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

The MPG dataset
      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

## Questions 5:
Which country origin cars are a part of this dataset?

In [6]:
country = mpg.origin.unique()
#or
countryy = mpg['origin'].unique()

print(country)
print(countryy)

['usa' 'japan' 'europe']
['usa' 'japan' 'europe']

## Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [7]:
origin = mpg[mpg['origin'].str.contains('usa')]
origin

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

END OF ASSIGNMENT